body {
  background-color: #f5f0e6 !important; /* beige claro */
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.navbar-custom {
  background-color: #8B4513 !important;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: white !important;
  font-weight: 500;
  transition: color 0.3s ease;
}


.navbar-custom .nav-link:hover {
  color: #222 !important;
}


h1 {
  color: #ff7b00;
  font-weight: bold;
}

/* Centrado del contenido */
.container {
  margin-top: 50px;
}
